<footer class="footer-ctn">
    <div class="row container-lg ">
        <div class="col-md-10">
            <div class="row footer-module-ctn">
                <div class="footer-module  col-lg-3 col-md-3  col-sm-12 col-xs-12">
                    <h3 class="footer-module-title">
                        Đào tạo
                    </h3>
                    <ul>
                        <li><a href="#">Chương trình đào tạo</a></li>
                        <li><a href="#">Quy chế, quy định</a></li>
                        <li><a href="#">Website đào tạo</a></li>
                        <li><a href="#">Website tuyển sinh</a></li>
                    </ul>
                </div>
                <div class="footer-module  col-lg-3 col-md-3  col-sm-12 col-xs-12">
                    <h3 class="footer-module-title">
                        Tài nguyên
                    </h3>
                    <ul>
                        <li><a href="#">Tài nguyên số</a></li>
                        <li><a href="#">Website Thư viện</a></li>
                        <li><a href="#">e-learning</a></li>
                        <li><a href="#">Học bổng - Việc làm</a></li>
                    </ul>
                </div>
                <div class="footer-module  col-lg-3 col-md-3  col-sm-12 col-xs-12">
                    <h3 class="footer-module-title">
                        Quy định chung
                    </h3>
                    <ul>
                        <li><a href="#">Quy chế tổ chức và hoạt động</a></li>
                        <li><a href="#">Quy chế bổ nhiệm </a></li>
                        <li><a href="#">Quy định cấp xét học bổng</a></li>
                        <li><a href="#">Quy chế chi tiêu nội bộ</a></li>
                        <li><a href="#">Quy chế dân chủ </a></li>
                        <li><a href="#">DANH MỤC VỊ TRÍ VIỆC LÀM </a></li>
                        <li><a href="#">CHIẾN LƯỢC PHÁT TRIỂN NGUỒN NHÂN LỰC</a></li>
                    </ul>
                </div>
                <div class="footer-module  col-lg-3 col-md-3  col-sm-12 col-xs-12">
                    <h3 class="footer-module-title">
                        địa chỉ
                    </h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="bi bi-geo-alt-fill"></i>Cơ sở 1: 48 Cao Thắng, TP. Đà Nẵng
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bi bi-geo-alt-fill"></i>Cơ sở 2: Khu Đô thị đại học, Hòa Quý, Ngũ Hành
                                Sơn, Đà Nẵng
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bi bi-telephone-fill"></i>02363822571
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bi bi-envelope-fill"></i>dhspktdn@ute.udn.vn
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="footer-logo">
                <img src="./client-app/assets/img/footer/logo-truong-250.png" />
            </div>
        </div>
        <div class="footer-line"></div>
        <div class=" d-flex footer-copyright justify-content-between align-items-center">
            <div>
                <p>
                    Copyright 2025 Website University of Technology and Education - The University of Danang. All
                    Rights
                    Reserved.
                </p>
            </div>
            <div class=" d-flex justify-content-end gap-2">
                <div class="footer-icon">
                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
                <div class="footer-icon">
                    <a href="#">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
                <div class="footer-icon">
                    <a href="#">
                        <i class="bi bi-wikipedia"></i>
                    </a>
                </div>
                <div class="footer-icon">
                    <a href="#">
                        <img src="./client-app/assets/img/footer/logo-truong-250.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>