<header>
    <div class="header-top">
        <div class="container">
            <ul class="header-top__menu">
                <li><a href="#">Lịch tuần</a></li>
                <li><a href="#">Điều hành tác nghiệp</a></li>
                <li><a href="#">Thông tin công khai</a></li>
                <li><a href="#">Thư viện</a></li>
                <li><a href="#">Hệ thống ISO</a></li>
                <li><a href="#">Đánh giá viên chức</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li class="language-dropdown">
                    <div class="language-wrapper">
                        <button class="language-button">
                            <img src="./client-app/assets/img/common/en.png" alt="English" />

                            <i class="bi bi-caret-down-fill"></i>
                        </button>
                        <ul class="language-menu">
                            <li>
                                <a href="#">
                                    <img src="./client-app/assets/img/common/vi.png" alt="Tiếng Việt" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </li> 
                <li>
                    <div class="search">
                        <input type="text" placeholder="Tìm kiếm..." />
                        <i class="bi bi-search search-toggle"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-banner">
        <div class="container">
            <div class="header-banner__image">
                <img src="./client-app/assets/img/common/banner-ute.jpg" alt="Banner UTE" />
            </div>
        </div>
    </div>

    <nav class="header-nav">
        <div class="container">
            <div class="header-mobi">
                <div class="header-logo">
                    <img src="./client-app/assets/img/slider/logo-truong-250.png" alt="Logo" />
                </div>
                <div class="header-menu-mobi">
                    <i class="bi bi-list mobile-toggle"></i>
                </div>
            </div>
            <ul class="header-nav__menu">
                <li><a href="#">Trang chủ</a></li>
                <li class="has-submenu">
                    <a href="#">Giới thiệu <i class="bi bi-caret-down-fill"></i></a>
                    <ul class="submenu">
                        <li><a href="#">Sứ mệnh</a></li>
                        <li><a href="#">Lịch sử</a></li>
                    </ul>
                </li>
                <li><a href="#">Tin tức - sự kiện</a></li>
                <li class="has-submenu">
                    <a href="#">Đào tạo <i class="bi bi-caret-down-fill"></i></a>
                    <ul class="submenu">
                        <li><a href="#">Đại học</a></li>
                        <li><a href="#">Sau đại học</a></li>
                        <li><a href="#">Chương trình liên kết</a></li>
                    </ul>
                </li>
                <li><a href="#">Thông báo</a></li>
                <li><a href="#">Các đơn vị</a></li>
                <li><a href="#">Khoa học công nghệ</a></li>
                <li><a href="#">Hợp tác quốc tế</a></li>
                <li><a href="#">Sổ tay SV</a></li>
                <li><a href="#">So khớp tài liệu</a></li>
            </ul>
        </div>
    </nav>
</header>