﻿ /* Cố định tiêu đề của bảng */
.table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Màu nền cho tiêu đề table */
    z-index: 5; /* Đảm bảo tiêu đề luôn nằm trên dữ liệu */
}

/* Điều chỉnh cho phân trang */
#paginationUL {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    list-style-type: none;
    margin: 0 5px;
    cursor: pointer;
}

    .pagination li.active {
        font-weight: bold;
    }

#ddl-show-page + .select2-container {
    width: 25% !important;
}

.col-md-auto .form-inline {
    flex-wrap: nowrap;
    gap: 1px; /* thêm khoảng cách nếu cần */
    min-width: 300px; /* hoặc thử 100% nếu muốn full chiều ngang */
}

.logo-box {
    background-color: #2c3e50 !important;
}

.navbar-custom {
    background-color: #2c3e50 !important;
}

/* Tùy chỉnh Select2 trong Modal */
.select2-container {
    width: 100% !important; /* Đảm bảo dropdown có chiều rộng 100% */
    padding: 0px;
    color: #6c757d;
}

.select2-container--default .select2-selection--single {
    height: calc(1.5em + .9rem + 2px) !important;
    padding: .45rem .9rem;
    font-size: .9rem;
    color: #6c757d;
    font-weight: 400;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .2rem !important;
}

.select2-selection__rendered {
    line-height: 1.5 !important;
    color: #6c757d !important;
    padding-left: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px !important;
}
